
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
   min-height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
   background-size: cover;
   background-position: center;
}
header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
   display: flex;
   align-items: center;
}
.logo i{
   color: chartreuse;
   font-size: 28px;
   margin-right: 3px;
}
.logo span{
   color: #fff;
   font-size: 1.1rem;
   font-weight: 600;
} 
.navbar{
    display: flex;
}
.navbar a{
    color:#009688;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
 .navbar a:hover{
    text-decoration: none;
    color:chartreuse;
 }
 .navbar a.active{
   color: chartreuse;
}
.main{
   display: flex;
   align-items: center;
}
.main a{
   margin-right: 25px;
   margin-left: 10px;
   color: #009688;
   font-size: 1.1rem;
   font-weight: 500;
   transition: all .50s ease;
}
.user{
   display: flex;
   align-items: center;
}
.user i{
   color:chartreuse;
   font-size: 28px;
   margin-right: 7px;
}
.main a:hover{
    color: chartreuse;
}
#menu-icon{
   font-size: 35px;
   color:#009688;
   cursor: pointer;
   z-index: 10001;
   display: none;
}

.navbar a.active{
    color: chartreuse;
}
.container{
 position: absolute;
 padding-right: 9%;
 padding-left: 13%;
 padding-top: 10px;
 padding-bottom: 0px;
 width: 90%;
 margin-top: 7%;
}
.container .heading{
   text-align: center;
   padding-bottom: 10px;
   color:#009688;
   text-shadow: 0 5px 10px rgba(0,0,0,.2);
   font-size: 40px;
}
.container .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
   gap: 15px;
}
.container .box-container .box{
   border-radius: 5px;
   background-color:#009688;
   text-align: center;
   padding: 1px 1px;
   cursor: pointer;
   transform: translateY(5px);
}
.container .box-container .box img{
   height: 80px;
}
.container .box-container .box h3{
   color:#fff;
   font-size: 20px;
   padding: 10px 0;
}
.container .box-container .box p{
   color:#fff;
   font-size: 15px;
   line-height: 1.8;
}
.container .box-container .box .btn3{
   margin-top: 10px;
   display: inline-block;
   background: #333;
   color: #fff;
   font-size: 17px;
   border-radius: 5px;
   padding: 8px 25px;
}
.container .box-container .box .btn3:hover{
   letter-spacing: 1px;
}
.container .box-container .box:hover{
   background-color:chartreuse;
   transform: scale(1.0);
   transition: 0.5s;
}
@media (max-width: 1280px){
   header{
      padding: 14px 2%;
      transition: .2s;
   }
   .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
   }
}
@media (max-width: 1090px){
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      background:#009688;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
      color: #fff;
      display: block;
      margin: 10px 0;
      padding: 0px 25px;
      transition: all .50s ease;
    }
    .navbar a:hover{
      color:chartreuse;
      transform: translateY(5px);
    }
    .navbar a.active{
      color:chartreuse;
    }
    .navbar.open{
      right: 2%;
    }
}
