@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
   min-height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
   background-size: cover;
   background-position: center;
}
header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
   display: flex;
   align-items: center;
}
.logo i{
   color: chartreuse;
   font-size: 28px;
   margin-right: 3px;
}
.logo span{
   color: #fff;
   font-size: 1.1rem;
   font-weight: 600;
} 
.navbar{
    display: flex;
}
.navbar a{
    color:#009688;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
 .navbar a:hover{
    text-decoration: none;
    color:chartreuse;
 }
.main a.active{
   color: chartreuse;
}
.main{
   display: flex;
   align-items: center;
}
.main a{
   margin-right: 25px;
   margin-left: 10px;
   color: #009688;
   font-size: 1.1rem;
   font-weight: 500;
   transition: all .50s ease;
}
.user{
   display: flex;
   align-items: center;
}
.user i{
   color:chartreuse;
   font-size: 28px;
   margin-right: 7px;
}
.main a:hover{
    color: chartreuse;
}
#menu-icon{
   font-size: 35px;
   color:#009688;
   cursor: pointer;
   z-index: 10001;
   display: none;
}
 .login-form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
 }
 .login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
    margin: 40px 0;
    color:#009688;
 }
 .login-form p{
    font-size: 20px;
    margin: 15px 0;
    color:#009688;
 }
 .login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    outline: none;
 }
 .login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 30%;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    color: black;
 }
 .login-form button:hover{
    background-color: chartreuse;
}
.navbar button.active{
   background-color: chartreuse;
}
@media (max-width: 1280px){
   header{
      padding: 14px 2%;
      transition: .2s;
   }
   .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
   }
}
@media (max-width: 1090px){
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      background:#009688;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
      color: #fff;
      display: block;
      margin: 10px 0;
      padding: 0px 25px;
      transition: all .50s ease;
    }
    .navbar a:hover{
      color:chartreuse;
      transform: translateY(5px);
    }
    .navbar a.active{
      color:chartreuse;
    }
    .navbar.open{
      right: 2%;
    }
}